### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
Help.md

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS Genéricos ###
.DS_Store
Thumbs.db